button {
    padding: 12px 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #030409;
    border: none;
    background-color: #56e2a4;
    cursor: pointer;
    border-radius: 8px;
    width: 160px;
}

.menu {
    background-color: #56e2a4;
    border-radius: 100%;
    cursor: pointer;
}

.side_nav_page ul {
    margin-top: 20px;
    padding: 10px 10px 10px 0px;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 0px;
    height: 0px;
    border-radius: 8px;
    align-items: center;
    opacity: 0;
    
}

.side_nav_page ul li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;

    color: #fff;
 display: flex;
    /* background-color: aqua; */
    /* background-color: aqua; */
    width: 100%;
}

.side_nav_page ul li a {
    text-decoration: none;
    color: #030409;
    width: 100%;
    /* display: flex; */
    /* height: 50px; */
    /* width: 100%; */
    /* flex-direction: column; */
    /* justify-content: start; */
    /* align-items: center;
    justify-content: center;
    background-color: #56e2a4; */

    font-size: 20px;
    font-weight: 500;
    /* text-shadow: 0.5px 0.5px #000000; */
}
.side_nav_page ul li .active_nav{
    color: #56e2a4;
    /* background-color: aqua; */
}