.App {
  background-color: rgb(253, 253, 253);

  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f5;
  font-family: 'Montserrat', sans-serif;
}

.animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.custom_container {
  display: flex;
  height: 100vh;
  /* justify-content: center;
  align-items: center; */
  position: relative;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.container {
  /* background-color: aqua; */
  width: 90vw;
  display: flex;
  /* background: black; */
  justify-content: center;
  align-items: center;
  /* align-items: center; */

}

.side_conent_container_left {
  width: 40%;
  /* background-color: rgb(45, 45, 60); */
}

.side_content_container_right {
  width: 60%;
  /* background-color: bisque; */
  height: 80vh;
  margin-left: -20px;
  z-index: 100;
  background-color: white;
  border-radius: 20px 100px 100px 20px;
  overflow: hidden;
}



@media screen and (max-width:1100px) {
  .container {
    /* background-color: aqua; */
    width: 95vw;
    display: flex;
    /* background: black; */
    justify-content: center;
    align-items: center;
    /* align-items: center; */

  }

  .side_conent_container_left {
    width: 40%;
    /* background-color: rgb(45, 45, 60); */
  }

  .side_content_container_right {
    width: 60%;
    /* background-color: bisque; */
    height: 80vh;
    margin-left: -20px;
    z-index: 100;
    background-color: white;
    border-radius: 20px 100px 100px 20px;
    overflow: hidden;
  }
}

@media screen and (max-width:990px) {
  .container {
    /* background-color: aqua; */
    width: 95vw;
    display: flex;
    /* background: black; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

  }

  .side_conent_container_left {
    width: 100%;
    /* background-color: rgb(45, 45, 60); */
  }

  .side_content_container_right {
    width: 100%;
    /* background-color: bisque; */
    padding: 20px;
    height: 80vh;
    margin-left: -20px;
    z-index: 100;
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width:560px) {
  .container {
    padding: 10px;
    margin-bottom: 20px;
  }

  .side_conent_container_left {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side_content_container_right {
    width: 100%;
    padding: 20px;
    height: 100vh;
    margin: 10px;
    border-radius: 50px 50px 50px 50px;
    background-color: aqua;
  }
}